extends ../base.jade

block content

  link(rel='stylesheet', href='linker/styles/login.css')
  .container
    h3.border-bottom=__("PleaseLogin")
    .container.form-box
      form.form-horizontal(role='form', action='/login', method='post')
        .form-group
          label.col-sm-2.control-label(for='email') Email
          .col-sm-10
            input.form-control.form-border(type='email', name='email', placeholder='Email')
        .form-group
          label.col-sm-2.control-label(for='password') Password
          .col-sm-10
            input.form-control.form-border(type='password', name='password', placeholder='Password')
          div.col-sm-offset-2.col-sm-10
            button.btn-nice(type='submit', value='Log In')=__("Login")

          ul.col-sm-offset-2.col-sm-10
            li.btn-nice.btn-twitter
              a(href='/auth/twitter') Twitter

            li.btn-nice.btn-facebook
              a(href='/auth/facebook') Facebook

            li.btn-nice.btn-google
              a(href='/auth/google') Google

            li.btn-nice.btn-github
              a(href='/auth/github') GitHub

  include ../ga.jade