form(action='/create', method='post')
  p
      label(for='email') Email:
      input#email(type='text', name='email')
    p
      label(for='password') Password:
      input#password(type='password', name='password')
    p
      input(type='submit', value='Sign Up')
